xml-resources/web-service-references/Servicios/wsdl/desktop-6f4p0i2_8181/Servicios/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Principal/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Principal/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://Principal/" schemaLocation="https://desktop-6f4p0i2:8181/Servicios/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="consulta_usuario">
<part name="parameters" element="tns:consulta_usuario"/>
</message>
<message name="consulta_usuarioResponse">
<part name="parameters" element="tns:consulta_usuarioResponse"/>
</message>
<message name="insertar_usuario">
<part name="parameters" element="tns:insertar_usuario"/>
</message>
<message name="insertar_usuarioResponse">
<part name="parameters" element="tns:insertar_usuarioResponse"/>
</message>
<message name="modificar_usuario">
<part name="parameters" element="tns:modificar_usuario"/>
</message>
<message name="modificar_usuarioResponse">
<part name="parameters" element="tns:modificar_usuarioResponse"/>
</message>
<message name="borrar_usuario">
<part name="parameters" element="tns:borrar_usuario"/>
</message>
<message name="borrar_usuarioResponse">
<part name="parameters" element="tns:borrar_usuarioResponse"/>
</message>
<portType name="Servicios">
<operation name="consulta_usuario">
<input wsam:Action="http://Principal/Servicios/consulta_usuarioRequest" message="tns:consulta_usuario"/>
<output wsam:Action="http://Principal/Servicios/consulta_usuarioResponse" message="tns:consulta_usuarioResponse"/>
</operation>
<operation name="insertar_usuario">
<input wsam:Action="http://Principal/Servicios/insertar_usuarioRequest" message="tns:insertar_usuario"/>
<output wsam:Action="http://Principal/Servicios/insertar_usuarioResponse" message="tns:insertar_usuarioResponse"/>
</operation>
<operation name="modificar_usuario">
<input wsam:Action="http://Principal/Servicios/modificar_usuarioRequest" message="tns:modificar_usuario"/>
<output wsam:Action="http://Principal/Servicios/modificar_usuarioResponse" message="tns:modificar_usuarioResponse"/>
</operation>
<operation name="borrar_usuario">
<input wsam:Action="http://Principal/Servicios/borrar_usuarioRequest" message="tns:borrar_usuario"/>
<output wsam:Action="http://Principal/Servicios/borrar_usuarioResponse" message="tns:borrar_usuarioResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consulta_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificar_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrar_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="https://desktop-6f4p0i2:8181/Servicios/Servicios"/>
</port>
</service>
</definitions>